/* Global Style */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

b, strong {
    font-weight: 600 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

html {
    scroll-behavior: smooth;
  }

img {
	border-radius: 5px !important;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    transition: 0.5s all;

}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
	
	backdrop-filter: blur(4px) saturate(180%);
	-webkit-backdrop-filter: blur(4px) saturate(180%);
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
	
	background-color: #33333366 !important;

}

/* Other Styles */

.progress {
  width: 320px;
  height: 10px;
  background: rgba(255,255,255,.15);
  border-radius: 999px;
  overflow: hidden;
  align-self: center;
  display: none;
}

.bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
  transition: width 80ms linear; /* мелкая плавность */
  
  align-self: center;
  display: none;
}

#pct{
	
	text-align: center;
	font-size: 20px;
    font-weight: bold;
	color: rgba(238,174,202,1);
	background-image: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
	-webkit-background-clip: text;
	background-clip: text; 
	-webkit-text-fill-color: transparent;
}


.loader_screen {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #191919;
	z-index: 999999;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	opacity: 1;
	filter: blur(0);
	transition: opacity 600ms ease, filter 600ms ease;
}

.loader_screen.hide {
  opacity: 0;
  filter: blur(10px);
  pointer-events: none;
}




.close {
	color: #ffffff !important;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-self: center;
  
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent rgba(238,174,202,1) rgba(238,174,202,1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: rgba(148,187,233,1) rgba(148,187,233,1) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

.loader_logo {
	text-align: center;
	font-size: 90px;
    font-weight: bold;
	color: rgba(238,174,202,1);
	background-image: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
	-webkit-background-clip: text;
	background-clip: text; 
	-webkit-text-fill-color: transparent;

}

.loader_text {
	text-align: center;
	font-size: 30px;
    font-weight: bold;
	color: rgba(238,174,202,1);
	background-image: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
	-webkit-background-clip: text;
	background-clip: text; 
	-webkit-text-fill-color: transparent;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
	
body {
	overflow: hidden;
}

.title {
	word-break: break-word;
}

#imageModal .modal-dialog {
	min-width: 90vw;
}
#imageModal .modal-body {
    padding: 0 !important;
    text-align: center;
	
}

#modalImage {
    width: 100%;
    height: auto;
    max-height: 83vh;
    object-fit: contain; 
}



.description {
	word-break: break-word;
}

.description details {
	background-color: #ffffff38;
}

.description summary {
	background-color: #c7accf;
}

.description details[open] summary {
	top: 0px;
	border-radius: 0px 0px 4px 4px;
	backdrop-filter: blur(4px) saturate(180%);
	-webkit-backdrop-filter: blur(4px) saturate(180%);
	background: unset;
	
	background: rgba(199, 172, 207, 0.65) !important;
	position: sticky;
}


.description ::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.description details[open] {
	/* min-height: 70vh !important; */
	min-height: min-content;
    padding-bottom: 50px;
	overflow: inherit;
}

.path {
	word-break: break-word;
}

.header {
    background: rgb(238,174,202); background: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
}

.path {
    background: rgb(238,174,202); background: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
}


.dark-control {
    background-color: #333333;
    color: #888888;
    border: 1px solid #484848;
}

.dark-control:focus {
    color: #888888;
    background-color: #333333;
    border-color: #B9B384;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(185,179,132,.25);
}

.darklabel {
    color:#B9B384;
}

.dark-modal-title {
    color:#B9B384;
}

.btn-primary:hover {
    color: #3a3a3a;
    background-color: #B9B384;
    border-color: #B9B384;
}

.btn-primary {
    color: #3a3a3a;
    background-color: #B9B384;
    border-color: #B9B384;
}


.dark-menu {
   /* background: #333333; */
    border: 1px solid rgba(255, 247, 247, 0.35);
	background: #3333337a;
    border: 1px solid rgba(255, 247, 247, 0.35);
    backdrop-filter: blur(4px) saturate(180%);
}

.dark-item{
    color:#B9B384;
}

.dark-item:hover{
    color:#333333;
    background: #B9B384;
  
}

table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
	margin-top: 20px;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #ededed36;
	font-size: 14px;
	border-top: 1px solid #ededed36;
}
table tr th:first-child, table tr td:first-child {
	border-left: 1px solid #ededed36;
}
table tr th:last-child, table tr td:last-child {
	border-right: 1px solid #ededed36;
}
table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even) {
	background: #ededed36;
}
table tbody tr:last-child td{
	border-bottom: 1px solid #ededed36;
}
table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}

/* Rule Mobile & PC */
.mobileHidden {
    display: block;
}

.desktopHidden {
    display: none;
}
/* Rule Only PC */
@media only screen and (max-width: 990px) {
    .mobileHidden {
        display: none;
    }

    .desktopHidden {
        display: block;
    }
}
@media (min-width: 992px) {
	details {
		max-height: 40vh;
		overflow: auto;
		
		position: relative;
		min-height: 40px;
	}

	summary {
		position: sticky;
		/*width: 100%;*/
		top: -8px;
		left: 0px;
	}
}
/* Rule Only Mobile */
@media (max-width: 768px) {
	.description img {
		max-width: 80vw !important;
	}
	
	details[open] summary {
    
	position: sticky;
    top: 0px;
	}
}


/* Animations */
details[open] SUMMARY~* {
    animation: sweepin .5s ease-in-out;
}

details:not([open]) summary ~ * {
  animation: none;
}

@keyframes sweepout {
    0% {
        opacity: 1;
        margin-left: 0px
    }
    100% {
        opacity: 0;
        margin-left: -10px
    }
}

@keyframes sweepin {
    0% {
        opacity: 0;
        margin-left: -10px
    }
    100% {
        opacity: 1;
        margin-left: 0px
    }
}

/* Scroll bar */
  /* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
  border-radius: 5px;
  cursor: move;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(169deg, rgba(238,174,202,1) 25%, rgba(148,187,233,1) 100%);
}

::-webkit-resizer{ 
  
   background-color:#B9B384;
}